# DEPLOYED WITH JUJU DONT TOUCH THIS MANUALLY
'memcache.distributed' => '\OC\Memcache\Redis',
'memcache.locking' => '\OC\Memcache\Redis',
'redis' => [
     'host' => '{{redis_hostname}}',
     'port' => {{redis_port}},
],