version: 2.1

orbs:


jobs:
  build-and-test:
    docker:
      - image: cimg/base:stable-18.04
    steps:
      - checkout
      - run:
            name: "Install pip3"
            command: |
              sudo apt update
              sudo apt-get install python3-pip
      - run:
          name: "Install requirements-dev.txt"
          command: |
            pip3 install -r charm-nextcloud/requirements-dev.txt
      - run:
          name: "Install requirements.txt"
          command: |
            pip3 install -r charm-nextcloud/requirements.txt
      - run:
          name: "./run_test"
          command: |
            cd charm-nextcloud
            ./run_tests
      - run:
          name: "Build charm"
          command: |
            charmcraft --from charm-nextcloud
      - save_cache:
          name: "Cache the built charm and juju tar for the next workflow"
          key: nextcloud-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - nextcloud.charm
            - .local/


workflows:
  main:
    jobs:
      - build-and-test
