[Unit]
Description = Bind mount nextcloud data directory (installed by juju charm)

[Mount]
What=/nextcloud/data
Where=/var/www/nextcloud/data
Options=bind

[Install]
WantedBy=multi-user.target
